body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:#fff;
    margin:0;
    border-radius:none;
}

.header{
    padding:15px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color:#023047;
    margin-bottom:0;
}

nav a{
    color:#ffb703;
    text-decoration:none;
    margin:5px;
}
nav a:hover{
    text-decoration:underline;
}

.image-container{
    background-image:url(/images/beach.jpg);
    margin-top:0;
    height:400px;
    width:1280px;
    display:flex;
    align-items:center;
    justify-content:center;;
    background-repeat:no-repeat;
    background-size: 100% 100%;
    margin-bottom:65px;
}

.text-content{
    box-shadow:0 0 15px rgba(0,0,0,0.8);
    border-radius:5px;
    padding:20px;
    margin:10px;
    text-align:center;
    background-color:rgba(51,51,51,0.4);
}

h2{
    color:#fff;
    font-weight:bold;
    margin:0;
}

.text{
    color:#fff;
}

button{
    background-color:#ffb703;
    border:none;
    margin:3px 2px;
    cursor:pointer;
    border-radius:5px;
    padding:10px 30px;
    text-align:center;
}

.heading{
    color:#023047;
    text-align:center;
}

.flexcontainer{
    display:flex;
    justify-content:center;
    margin-bottom:40px;
}

.flexcontainer > div{
    padding:10px 10px;
    width:200px;
    margin:10px;
    border-radius:10px;
    box-shadow:0 0 15px rgba(0,0,0,0.2); 
    align-items:center;
}

.image1{
    width:200px;
    height:200px;
}

.container{
    text-align:center;
    color:#fff;
    background-color:#023047;
    padding:15px;
}

h3, p{
    margin:0;
}


